.activeList:hover{
  background-color: #E0FFFF;
  color:black;
}

/* .activeList:active{
    background-color: blue;
    color:black;
} */
.activeList:visited{
    background-color: #E0FFFF;
    color:black;
    color:black;
}
/* .bg-color{
    background-color: red;
} */

#para{
    /* background-color: blue; */
}

@media only screen and (max-width: 600px) {
.mainCont{
    /* background-color: red !important; */
    width: 100%;
    --bs-gutter-x:0;
    
}
.subCont{
    /* background-color: white !important; */
    display: flex;
    flex-direction: column;
    width: 100%;
    --bs-gutter-x:0;
}
.container-fluid{
    -bs-gutter-x:0  !important;

}
.secondcol{
    width: 100%;
}

}